{% extends 'recipes/base.html' %} {% block content %} {% block title %}{{ recipe }} Details {% endblock %}

<body>
    <div class="container wrapper">
        <h2 class="header-index">{{ recipe }} Details</h2>
        <div class="row">
            <div class="recipe-detail">
                <h3>{{ recipe.name }}</h3>
                <p>
                    {{ recipe.instructions }}
                </p>
            </div>

            <p>
                {{ recipe.serves }}
            </p>
        </div>
        <h1 class="header-index">Let's Get You Satisfied</h1>
    </div>

</body>
{% endblock %}
