{% extends 'recipes/base.html' %} {% block content %} {% block title %}{{ recipe }} Details {% endblock %}

<body>
    <div class="container wrapper">
        <h1 class="header-index">{{ recipe }} Details</h1>
        <div class="row">
            <div>
                <h2>{{ recipe.name }}</h2>
                <p>
                    {{ recipe.description }}
                </p>
            </div>

            <p>
                {{ recipe.serves }}
            </p>
        </div>
        <h1 class="header-index">is via food</h1>
    </div>

</body>
{% endblock %}
