{% extends 'recipes/base.html' %} {% block content %} {% block title %}Breakfast Recipes, Your Way{% endblock %}

<body>
    <div class="container wrapper">
        <h1 class="header-index">Because the way to one's heart</h1>
        <h1 class="header-index">is via food</h1>
        <div id="no-more-tables" class="col row">
            <table class="table table-dark  table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Meal No.</th>
                        <th scope="col">Meal Name</th>
                        <th scope="col">Appearance</th>
                        <th scope="col">Type</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Suits</th>
                        <th scope="col">Cuisine</th>
                    </tr>
                </thead>
                <tbody>
                    {{ object_list }} {% for instance in object_list %}
                    <tr>
                        <td data-title="Number"><a href="/recipes/recipe/detail/{{ instance.pk }}/">{{ instance.pk }} </a></td>
                        <td data-title="Name"><a href="/recipes/recipe/detail/{{ instance.pk}}/">{{ instance.name }} </a></td>
                        <td data-title="Appearance"><a href="/recipes/recipe/detail/{{ instance.pk }}/">
                            <img src="/event_54OPtZf.PNG">{{ instance.image }}</img></a>
                        </td>
                        <td data-title="Suits"><a href="/recipes/recipe/detail/{{ instance.pk }}/">{{ instance.recipe_type }}</a></td>
                        <td data-title="Difficulty"><a href="/recipes/recipe/detail/{{ instance.pk }}/">{{ instance.difficulty }}</a></td>
                        <td data-title="Suits"><a href="/recipes/recipe/detail/{{ instance.pk }}/">{{ instance.suits }}</a></td>
                        <td data-title="Cuisine"><a href="/recipes/recipe/detail/{{ instance.pk }}/">{{ instance.cuisine }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
