{% extends 'recipes/base.html' %} {% block content %}
{% block title %}Breakfast Recipes, Your Way{% endblock %}
<body>
    <div class="container wrapper">
        <h1 class="header-index">Because the way to one's heart</h1>
        <div class="row">
            <div class="breakfast meal col">
                <p class="food">
                    Breakfast
                </p>
            </div>
            <div class="lunch meal col">
                <p class="food">
                    Lunch
                </p>
            </div>
            <div class="dinner meal col">
                <p class="food">
                    Dinner
                </p>
            </div>
        </div>
        <h1 class="header-index">is via food</h1>
    </div>

</body>
{% endblock %}
