<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Recipe Diary</title>
</head>

<body>
    <h1>Because the way to one's heart</h1>
    <div class="container">
        <div class="container col-xs-4">Breakfast</div>
        <div class="container col-xs-4">Lunch</div>
        <div class="container col-xs-4">Dinner</div>
    </div>
    <h1>is via food</h1>
</body>

</html>
