{% extends 'recipes/base.html' %} {% block content %} {% block title %}Lunch Recipes, Just Different {% endblock %}

<body>
    <div class="container wrapper">
        <h1 class="header-index">Afternoon Meals,</h1>
        <div id="no-more-tables" class="col row">
            <table id="dtBasic" class="table  table-striped table-bordered recipe-detail table-dark  table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Meal No.</th>
                        <th scope="col">Meal Name</th>
                        <th scope="col">Appearance</th>
                        <th scope="col">Type</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Suits</th>
                        <th scope="col">Cuisine</th>
                    </tr>
                </thead>
                <tbody>
                    <a href="/recipes/recipe_add/"><button type="button" class="dbuttons btn btn-success">Add</button></a> {% for instance in object_list %}
                    <tr>
                        <td data-title="Number">{{ instance.pk }}</td>
                        <td data-title="Name">
                            <a href="/recipes/recipe/detail/{{ instance.pk}}/">{{ instance.recipe_name }}</a>
                        </td>
                        <td data-title="Appearance"><a href="/recipes/recipe/detail/{{ instance.pk }}/">
                            <img src="{{ instance.image.url}}"></img></a>
                        </td>
                        <td data-title="Suits">{{ instance.recipe_type }}</td>
                        <td data-title="Difficulty">{{ instance.difficulty }}</td>
                        <td data-title="Suits">{{ instance.suits }}</td>
                        <td data-title="Cuisine">{{ instance.cuisine }}</td>
                        <td>
                            <a href="/recipes/recipe/preparation/{{ instance.pk }}/"><button type="button" class="dbuttons btn btn-dark">Cook</button></a>
                            <a href="/recipes/recipe/recipe_update/{{ instance.pk }}/"><button type="button" class="dbuttons btn btn-warning">Edit</button></a>
                            <a href="/recipes/recipe_delete/{{ instance.pk }}/"><button type="button" class="dbuttons btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h1 class="header-index">With Love</h1>
    </div>

</body>
{% endblock %}
