{% extends 'recipes/base.html' %} {% block content %} {% block title %}{{ recipe }} Details {% endblock %}

<body>
    <div class="container wrapper">
        <h2 class="header-index">{{ instance.name }} Details</h2>
        <div id="no-more-tables" class="col row">
            <table class="table recipe-detail table-dark  table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Meal No.</th>
                        <th scope="col">Meal Name</th>
                        <th scope="col">Serves</th>
                        <th scope="col">Scalable</th>
                        <th scope="col">Type</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Suits</th>
                        <th scope="col">Cuisine</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in object_list %}
                    <tr>
                        <td data-title="Number">{{ instance.pk }}</td>
                        <td data-title="Name">{{ instance.name }}</td>
                        <td data-title="Appearance">
                            {{ instance.serves }}
                        </td>
                        <td data-title="Appearance">
                            {{ instance.scalable }}
                        </td>
                        <td data-title="Suits">{{ instance.recipe_type }}</td>
                        <td data-title="Difficulty">{{ instance.difficulty }}</td>
                        <td data-title="Suits">{{ instance.suits }}</td>
                        <td data-title="Cuisine">{{ instance.cuisine }}</td>
                    </tr>
                    <tr>
                        <td class="header-inst" colspan="8" data-title="Cooking Method">Cooking Method</td>

                    </tr>
                    <tr>
                        <td class="header-inst"  colspan="9">
                            <a href="/recipes/recipe/recipe_update/{{ instance.pk }}/"><button type="button" class="dbuttons btn btn-warning">Edit</button></a>
                            <a href="/recipes/recipe_add/"><button type="button" class="dbuttons btn btn-success">Add</button></a>
                            <a href="/recipes/recipe_delete/{{ instance.pk }}/"><button type="button" class="dbuttons btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-title="Image"><a href="">
                            <img height="auto" src="{{ instance.image.url }}">
                            </img></a></td>
                        <td colspan="6" data-title="Preparation">{{ instance.instructions }}</td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
        <h1 class="header-index">Let's Get You Satisfied</h1>
    </div>

</body>
{% endblock %}
