{% extends 'recipes/base.html' %} {% block content %} {% block title %}Breakfast Recipes, Your Way{% endblock %}

<body>
    <div class="container wrapper">
        <h1 class="header-index">Add A New Recipe</h1>
        <form method="POST" action="{{ recipe_add }}." class="row" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row container-fluid addrecipe">
                {{ form.as_p }}
            </div>
            <input class="col btn btn-success" type="submit" value="Save" />
        </form>
    </div>
</body>

{% endblock %}
