{% extends 'recipes/base.html' %} {% block content %} {% block title %} The Kingdom of Food Lovers {% endblock %}

<body>
    <div class="container wrapper">
        <h1 class="header-index">Join Us</h1>
        <form class="signupForm" method="POST" action="{{ recipe_delete }}." class="row"> {% csrf_token %}
            <div class="row container-fluid delrecipe">
                {{ form.as_p }}
            </div>
            <input class="col btn btn-success" type="submit" value="Sign Up"/>
        </form>
    </div>
</body>

{% endblock %}